{{define "title"}}Change Password{{end}} {{define "main"}}
<h2>Change Password</h2>

<form action="/user/signup" method="POST" novalidate>
  <!-- Include the CSRF token -->
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

  <div>
    <label>Current Password:</label>
    {{with .Form.FieldErrors.name}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="name" />
  </div>

  <div>
    <label>New Password:</label>
    {{with .Form.FieldErrors.email}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="new_password" />
  </div>

  <div>
    <label>Confirm New Password:</label>
    {{with .Form.FieldErrors.password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="confirm_password" />
  </div>
  <div>
    <input type="submit" value="Change Password" />
  </div>
</form>
{{end}}
